 @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Righteous&family=Sarala&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Libre+Baskerville:wght@400;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

 * {
   box-sizing: border-box;
 }

 Body {
   background: #B3652D;
 }

 header {
   padding: 15px 0 15px 50px;
 }

 .links {
   padding: 0 10px 0 10px;
 }


 a:link {
   color: #84380C;
   font-family: 'Libre Baskerville', serif;
   text-decoration: none;
 }

 a:hover {
   color: #9B4F1D;
   text-decoration: none;
 }

 a:visited {
   color: #84380C;
   text-decoration: none;
 }

 .descrição1 {
   color: #84380C;
   font-family: 'Libre Baskerville', serif;
   font-size: 30px;
   padding: 0 0 0 0;
   margin: 300px 870px 0px 200px;
 }

 #título {
   color: c;
   font-family: 'Anton', sans-serif;
   font-size: 200px;
   margin: 0px 765px 0 200px;
   padding: 0 0 0 0;
   z-index:0;
   position: fixed;
 }

 #título2 {
   font-family: 'Anton', sans-serif;
   font-size: 300px;
   color: #E1D9CA;
   position: fixed;
   top: 325px;
   left: 205px;
   z-index:1;
 }

 .descrição2 {
   font-family: 'Libre Baskerville', serif;
   font-size: 20px;
   padding: 0 20px 0 0px;
   margin: 0 590px 0 300px;
   color: #E1D9CA;
   position: fixed;
   top: 900px;
   left: 5px;
 }

 #contact {
   display: block;
   float: right;
   margin: 10px;
   position: fixed;
   top: 570px;
   left: 930px;
 }

 a.contatos {
   width: 0px;
   height: 0px;
 }

 .sobre {
  padding: 0 0 0 0 ;
 }

 .titulo-seçao {
  font-family: 'Anton', sans-serif;
 }

